{% extends "base.html" %}

{% block title %}About the Lojban website{% endblock title %}

{% block content %}
    <div>
        <h2>About this website</h2>
        <p>
            This section is merely a place to put credits.  This is sometimes necessary because of licensing restrictions, for example, the excellent Silk icon set requires you to link back.  I personally like putting a bit of information in about how a site was built.  See <a href="http://www.livebus.org/about/">LiveBus.org</a> and <a href="http://djangopeople.net/about/">Django People</a> for examples.
        </p>
    </div>
{% endblock content %}
