{% extends "base.html" %}

{% load humanize %}

{% block title %}The Lojban Community{% endblock title %}

{% block breadcrumb %}
    <h2>You are here:</h2>
    <p>
        <a href="/" rel="home up">Home</a> &#x2794; <a class="current">Community</a>
    </p>
{% endblock breadcrumb %}

{% block content %}
    <div>
        <h2>The Lojban Community</h2>
        <p>
            There's plenty of places where Lojbanists hang out.  Whether you want to read old-school mailing lists or practice your accent with voice chat, there's usually somewhere to go and someone to talk to.  The busiest places are the mailing lists and IRC.
        </p>

        <h3>Mailing lists</h3>
        <p>
            There are two main mailing lists devoted to Lojban.
        </p>
        <p>
            One is the <strong>Beginners Mailing List</strong>, which is a good place to start if you are stuck on something and need a few questions answered.  You can <a href="http://www.lojban.org/lsg2/">subscribe to the Beginner's Mailing List here</a>, or <a href="http://www.lojban.org/lists/lojban-beginners/">read the web archives here</a>.
        </p>
        <p>
            The other is the <strong>main Lojban Mailing List</strong>.  This is used primarily to discuss the development of the language.  Some of the discussion may be a bit advanced for beginners, but it is a good way of keeping track of what is going on in the community and where things are headed.  You can <a href="http://www.lojban.org/lsg2/">subscribe to the main Lojban mailing list here</a>, or <a href="http://www.lojban.org/lists/lojban-list/">read the web archives here</a>.
        </p>

        <h3>Live text chat (IRC)</h3>
        <p>
            If you prefer to chat to people interactively, you can also pay a visit to the <strong><span class="irc-channel">#lojban</span> IRC channel</strong>.  There's usually a couple dozen people idling there at any given time.
        </p>
        <p>
            For information on how to connect and a "cheat sheet" for phrases you'll commonly see on IRC, please check out <a href="/community/irc/">our introduction to IRC</a>.
        </p>

        <h3>Web forums</h3>
        <p>
            There are a number of web forums dedicated to Lojban.  In particular, the main Lojban mailing list is accessible through <a href="http://www.lojban.org/tiki/tiki-view_forum.php?forumId=5">a web forum interface</a>.
        </p>
        <p>
            A fairly recent addition to the Lojban community is <a href="http://jbotcan.org/">jbotcan</a>.  It's a web forum with three anonymous imageboards:
        </p>
        <ul>
            <li><a href="http://jbotcan.org/en/">/en/</a> &mdash; a board where you can talk in English about Lojban</li>
            <li><a href="http://jbotcan.org/ideas/">/ideas/</a> &mdash; a board where you can discuss ideas about Lojban projects</li>
            <li><a href="http://jbotcan.org/jbo/">/jbo/</a> &mdash; a board where you can talk in Lojban about anything</li>
        </ul>

        <h3>Voice chat</h3>
        <p>
            It's all very well typing in Lojban on your computer, but you can't practice your verbal skills that way.  You can get used to listening to Lojban and speaking it out loud in a number of ways.
        </p>
        <ul>
            <li><a href="http://jbobac.lojban.org/">jbobac</a> is a web forum in which the messages are all recorded Lojban sound files.</li>
            <li><a href="http://mumble.sourceforge.net/">Mumble</a> is an open-source alternative to TeamSpeak with excellent voice quality.  It is also available for Windows, OS X and Linux.</li>
            <li><a href="http://www.goteamspeak.com/">TeamSpeak</a> is voice chat software available for Windows, OS X and Linux.  After installing the software, connect to <tt>subvert-the-dominant-paradigm.net</tt>.  There's no password required. Mumble is preferred over TeamSpeak by most of the Lojban community.</li>
        </ul>
        <p>
            <strong>Note:</strong> We recommend you ask about in IRC first to see if anybody is on TeamSpeak or Mumble.
        </p>

        <h3>Blogs</h3>
        <p>
            A number of Lojbanists maintain blogs about Lojban or in Lojban.  In the future they will be aggregated on this website, but for now, you can read many of them in <a href="http://community.livejournal.com/lojban/">the LiveJournal Lojban community</a>.
        </p>
    </div>
{% endblock content %}

{% block aux %}
    <div id="weblogs">
        <h2>Latest blog posts</h2>
        <ul>
            {% for entry in weblog_entries %}
                <li><a href="{{entry.link}}">{{entry.title}}</a> <span class="date">({{entry.pub_date|naturalday:"dS F"}})</span></li>
            {% endfor %}
        </ul>
        <p>
            <a href="{{weblog.link}}">Read more blog posts &#x2794;</a>
        </p>
    </div>
    {% include "irc-activity.html" %}
{% endblock aux %}
