{% extends "base.html" %}

{% block title %}Learning Lojban{% endblock title %}

{% block content %}
    <div>
        <h2>Learning Lojban</h2>
        <p>
            This section includes learning material suitable for the absolute beginner.  It should include things like the following:
        </p>
        <ul>
            <li><i>What is Lojban</i> or similar in-depth introduction.</li>
            <li><i>Lojban for Beginners</i>, themed to be part of the site.</li>
            <li>Vocabulary resources, friendlier than <tt>gismu.txt</tt></li>
        </ul>
    </div>
{% endblock content %}
