{% extends "base.html" %}

{% block title %}Search results for {{request.GET.keywords}}{% endblock title %}

{% block content %}
    <div id="search-results">
        <h2>Search results for {{request.GET.keywords}}</h2>
        {% if matches or google_results %}
            {% if matches %}
                {% for valsi, valsi_type in matches %}
                    <table>
                        <tr>
                            <th scope="row" width="16.66%">Name</th>
                            <td colspan="3" width="50%"><strong>{{valsi.name}}</strong></td>
                            <th scope="row" width="16.66%">Type</th>
                            <td width="16.66%">{{valsi_type}}</td>
                        </tr>
                        <tr>
                            <th scope="row" width="16.66%">Definition</th>
                            <td colspan="5" width="84.33%">{{valsi.friendly_definition}}</td>
                        </tr>
                        {% ifequal valsi_type "gismu" %}
                            <tr>
                                <th scope="row" width="16.66%">CVC rafsi</th>
                                <td width="16.66%">{{valsi.cvc_rafsi}}</td>
                                <th scope="row" width="16.66%">CCV rafsi</th>
                                <td width="16.66%">{{valsi.ccv_rafsi}}</td>
                                <th scope="row" width="16.66%">CVV rafsi</th>
                                <td width="16.66%">{{valsi.cvv_rafsi}}</td>
                            </tr>
                        {% endifequal %}
                        {% if valsi.notes %}
                            <tr>
                                <th scope="row" width="16.66%">Notes</th>
                                <td colspan="5" width="84.33%">{{valsi.friendly_notes|safe}}</td>
                            </tr>
                        {% endif %}
                    </table>
                {% endfor %}
            {% endif %}
            {% if google_results %}
                <div>
                    <ul>
                        {% for result in google_results %}
                            <li>
                                <h3><a href="{{result.url}}">{{result.title|safe}}</a></h3>
                                <p>
                                    {{result.content|safe}}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <p>
                Sorry, nothing matching your query was found.
            </p>
        {% endif %}
    </div>
{% endblock content %}
