{% extends "base.html" %}

{% block title %}Search Results{% endblock title %}

{% block content %}
    <div>
        <h2>Search Results</h2>
        <p>
            This should return categorised search results.  For instance, if a single keyword was put in, it should look for it in gismu/lujvo/cmavo/etc definitions, word of the day entries, etc, and have those results clearly distinguished from normal full-text searching.  We should consider going to the website, putting in a word and finding its definition to be a common pattern we should optimise for.
        </p>
    </div>
{% endblock content %}
